<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link rel="icon" href="icon/logo.ico">
    </link:icon>
    <title>StylePet</title>
  
</head>

<body>
    <!-- SIDEBAR -->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large" id="close-sidebar">Close &times;</button>
        <a href="pricipal.html" class="w3-bar-item w3-button">Menu</a>
        <a href="#" class="w3-bar-item w3-button">Link 2</a>
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
        
    </div>

    <!-- FACHADA -->


    <div class="w3-container w3-blue" id="sidebar">
        <button class="w3-button w3-round-xlarge w3-xlarge" onclick="w3_open()">☰</button>
        <h1>StylePet</h1>
        <button class="w3-button w3-blue w3-border w3-round-xlarge w3-right" id="signup"><a href="signup.html">Sign Up</a></button>
    </div>


<!-- JAVASCRIPT -->

    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>



    <footer>
        <a href="https://github.com/lukazdetrivela/"> © 2024 Lucas&Diego, Corp.</a>
    </footer>


</body>

</html>
